
/*                                         TOPBAR Y GENERAL                                                  */


html{
    font-family: 'Inter', Arial, sans-serif;
    background-color: white;
    padding: 0;
}


/* Barra Superior de contenido */

.topbar {
    background-color: #3B444B;
    overflow: hidden;
    display: flex;
    width: 100vw; 
    left: 0;
    right: 0;
    top: 0;
    position:fixed;
}

.topbar-item {
    display:inline-grid;
    color: white;
    text-align: center;
    padding: 24px 40px; 
    text-decoration: none;
      
}

.topbar-item:hover {
    background-color: rgba(255, 255, 255, 0.215);
    color: black;
    border-radius: 10px;

}


@media screen and (max-width: 600px) {
    .topbar-item {
        float: none;
        text-align: left;
    }
}

.topbar-name {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bolder;
    font-size:larger;
    text-align: center;
}


/* Introducción */

.intro-topbar {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    padding: 20px;
}

.logo-topbar img {
    max-width: 100%;
    max-width: 300px; 
    height: auto; 
    margin: 0 auto; 
}

.saludo {
    color:white;
    align-content: center;
}

.saludo-topbar {
    color: white;
    margin-left: auto;
    margin-right: 20px;
    text-align: right;
    margin-top: 25px;
}

.saludo-topbar .salir-topbar {
    color: #1ab2a8;
}


h1 {
    font-size: 4em;
}


/*                                                 INDEX.PHP                                                 */


.imagen-fondo {
    background-image: url('../img/gym.webp'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 100vh; 
    width: 100vw; 
    position: fixed; 
    top: 0;
    left: 0;
    z-index: -1;
    margin-top: 60px;
}

/*                                                 LOGOUT.PHP                                                 */

.contenedor_logout {
    justify-content: center;
    color: white;
}